

*{
  box-sizing: border-box;
  
}

body{
  margin: 0;
  padding: 0;
  background: url(./assets/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  
  font-family: myFirstFont;
  letter-spacing: 5px;
  font-size: 16px;
}

header{
  background: rgba(56, 106, 120, 0.32941176470588235);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.39);
  display: flex;
  gap: 6px;
  color: white;
  padding: 7px;
  
  align-items: center;
  justify-content: space-between;
}




main{
  width: 100%;
  height: 100dvh;
  padding: 6px;
  text-align: center;
}

main .container{
  background: #5C5C5C66;
  padding: 8px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  max-width: 500px;
}

.container card{
  background: #00000063;
  width: calc(30%);
  padding: 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  margin: 3px;
  
}

card img{
  width: 100%;
  height: 50px;
  object-fit: cover;
  object-position: center;
  margin-top: 30px
}

card button
{
  background: rgb(255, 167, 0);
  background: radial-gradient(circle, rgba(255, 167, 0, 1) 0%, rgba(255, 181, 0, 1) 35%, rgba(255, 221, 0, 1) 100%);
  
  border: none;
  margin: 0;
  padding: 3px;
  width: 100%;
  
  font-weight: bolder;
  transition: .2s;
}

@font-face {
  font-family: myFirstFont;
  src: url(./assets/H.ttf);
}


card label{
  color: white;
  letter-spacing: 1px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.57);
  font-family: myFirstFont;
}

card button:hover{
  transform: scale(.9)
}


loader spin{
  height: 50px;
  width: 50px;
  border: 3px solid goldenrod;
  border-top-color: darkgoldenrod;
  border-radius: 5500px;
  
  animation: load .5s infinite;
  
  box-shadow: 0 0 5px #00000096;
  margin: 6px;
}

loader{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #00000069;
  
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  
  
  color: white;
  
  z-index: 50;
}

@keyframes load{
  from {
    transform: rotateZ(0deg)
  }
  to{
    transform: rotateZ(360deg)
  }
}



.loadButton{
  background: rgb(255, 167, 0);
  background: radial-gradient(circle, rgba(255, 167, 0, 1) 0%, rgba(255, 181, 0, 1) 35%, rgba(255, 221, 0, 1) 100%);
  
  border: none;
  margin: 0;
  padding: 6px 16px;
  
  margin-top: 13px;
  
  
  font-weight: bolder;
  transition: .2s;
}







mail-container{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  background: #00000069;
  
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  
  text-align: center;
  
  
  color: white;
  padding: 10px;
  display: none;
}

mail-container .form{
  padding: 10px;
  background: #000000A8;
  position: relative;
}
.form input 
{
  outline: none;
  border: none;
  margin: 6px;
  border-radius: 0px;
  background: rgba(140, 150, 166, 0.75);
  color: #D8D8D8;
  padding: 6px;
}

.form button{
  background: rgb(255, 167, 0);
  background: radial-gradient(circle, rgba(255, 167, 0, 1) 0%, rgba(255, 181, 0, 1) 35%, rgba(255, 221, 0, 1) 100%);
  
  border: none;
  margin: 0;
  padding: 6px 16px;
  
  margin-top: 13px;
  
  
  font-weight: bolder;
  transition: .2s;
}
::placeholder{
  color: #000;
}
.close{
  position: absolute;
  right: 10px;
  top: 10px;
}


/* alertMain */
alert-main{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  background: #00000069;
  
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  
  text-align: center;
  
  
  color: white;
  padding: 10px;
  display: none;
}
alert-main aCard{
  background: #49566B;
  padding: 6px;
  display: flex;
  flex-flow: column;
}
aCard h3{
  padding-bottom: 10px;
}
aCard label{
  font-family: sans-serif;
  letter-spacing: 2px;
}

aCard button{
  background: rgb(255, 167, 0);
  background: radial-gradient(circle, rgba(255, 167, 0, 1) 0%, rgba(255, 181, 0, 1) 35%, rgba(255, 221, 0, 1) 100%);
  
  border: none;
  margin: 0;
  padding: 6px 16px;
  
  margin-top: 13px;
  
  
  font-weight: bolder;
  transition: .2s;
}